img {
    /*width: 320px; 
    height: 1080px;*/
    /* max-width: 320px;   Mexe sem alterar a proporção*/
    max-width: 100%; /*max-width combinado com height: auto cria resposividade*/
    height: auto;
    border-radius: 10%; /*Arredonda as bordas da imagem*/
    border: 20px inset green;
    opacity: 0.5;
}